@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

$primary-color: #62B6CB; 
$secondary-color: #62B6CB;
$grey: #62727C;
$light-grey:#CBDFED;
$light-color: #ffffff;
$default-padding: 15px;

body {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("../images/email-pattern.png");
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    font-size: 18px;
}

h1, h2, h3, th {
    font-family: 'Bebas Neue', cursive;
}

button.mycolor {
    background-color: $primary-color;
    &:hover, &:active, &:focus {
        background-color:lighten($primary-color, 20%);  
    }
}

.btn-choice {
    text-transform: none;
    display: block;
    margin-bottom: $default-padding;
}

/* -------------------------------------------------------------- */
/* Styling the wrapper and to do layout*/
/* -------------------------------------------------------------- */

.flex {
    display: flex;
    flex-wrap: wrap;
    }

.wrapper {
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

div.time {
    background-color: $primary-color;
    color: $light-color;
    // padding: $default-padding *2;
    // font-weight: bold;
    // font-size: 32px;
    h2 {
        margin: $default-padding;
        font-size: 32px;
    }
}

div.save {
    // background-color: $light-grey;
    border-left: solid 1px $light-grey;
}

// div.toDo {
// }

.toDofield {
    margin: 0;
    padding: $default-padding;
    outline: none;
    border: none;
    resize: none;
    width: 100%;
    height: 100%; 
    box-sizing: border-box;
  }