@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

$primary-color: #F47258; 
$secondary-color: #62B6CB;
$grey: #62727C;
$light-grey:#ECE9E6;
$light-color: #ffffff;
$default-padding: 15px;

body {
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    font-size: 18px;
}

h1, h2, h3, th {
    font-family: 'Bebas Neue', cursive;
}

button.mycolor {
    background-color: $primary-color;
    &:hover, &:active, &:focus {
        background-color:lighten($primary-color, 20%);  
    }
}

.btn-choice {
    text-transform: none;
    display: block;
    margin-bottom: $default-padding;
}

/* -------------------------------------------------------------- */
/* Styling the wrapper and to do layout*/
/* -------------------------------------------------------------- */

.flex {
    display: flex;
    flex-wrap: wrap;
    }

.wrapper {
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

div.time {
    background-color: $primary-color;
    color: $light-color;
    // padding: $default-padding *2;
    // font-weight: bold;
    // font-size: 32px;
    h2 {
        margin: $default-padding;
        font-size: 32px;
    }
}

div.save {
    border-left: solid 1px $light-grey;
    button, button:active {
        padding: $default-padding;
        cursor: pointer;
        border: none;
        background: none;
        -webkit-transition: all .1s; /* Safari prior 6.1 */
        transition: all .1s;
    }
    button:hover {
        color: $primary-color;
    }
}

.toDofield {
    margin: 0;
    padding: $default-padding;
    outline: none;
    border: none;
    resize: none;
    width: 100%;
    height: 100%; 
    box-sizing: border-box;
  }

  form.timePassed > div > div {
      background-color: $light-grey;
      color: darken($light-grey, 30%);
      .toDofield, button {
        color: darken($light-grey, 30%);  
      }
  }